#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options > button {
  margin: 1vmax;
  width: 50vmax;
  height: 3vmax;
  border-radius: 0.5vmax;
}

#all_Options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Option_content {
  margin-left: 1.5vmax;
}
#appName {
  padding: 0.5vmax;
  padding-top: 1.5vmax;
  color: rgb(241, 241, 241);
}
.homwNavLink {
  color: azure;
  font-size: 1.3vmax;
  text-decoration: none;
  cursor: pointer;
}
#userNavName {
  color: rgb(200, 255, 0);
}

#quiz {
  width: 100vw;
}

#question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vmax;
  background-color: antiquewhite;
  padding: 0.5vmax;
}

label {
  margin: 2vmax;
}
input {
  margin-left: 1vmax;
}
