.testDetailInputTag {
  width: 100%;
  text-align: center;
  font-size: 1.5vmax;
  border-radius: 0.5vmax;
  padding: 1vmax;
}

@media only screen and (max-width: 570px) {
  .testBtn {
    display: flex;
    flex-direction: column;
  }
  .testBtn > button {
    margin-top: 2vmax;
  }
}
#appName {
  padding: 0.5vmax;
  padding-top: 1.5vmax;
  color: rgb(241, 241, 241);
}

.homwNavLink {
  color: azure;
  font-size: 1.3vmax;
  text-decoration: none;
  cursor: pointer;
}
#userNavName {
  color: rgb(200, 255, 0);
}
